<html>
    <head>
    </head>
    <body>
        <div>
            <a href="/auth/facebook">facebook</a>
        </div>    
        <div>
            <a href="/auth/google">Google</a>
        </div>    

    </body>
</html>        

