<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>YRoss Poll</title>
        
        <!-- css vendors -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="/socket.io/socket.io.js"></script>
        <script>
        
            var socket = io.connect("https://js-yrosspolls-ythalorossy.c9.io");
            
            socket.on('userOnline', function(data){
                document.getElementById('usuariosOnline').innerHTML = " " + data.total;
            });
            
            socket.on('adminConsole', function(data){
                document.getElementById('adminConsole').innerHTML = " " + data.console;
            });
        
        </script>
        
    </head>
    <body>
        <div class="container">
            <div class="row">
                <ng-view></ng-view>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-2">Usuários Online</div>
                <div class="col-xs-11 col-md-1"><span id="usuariosOnline"></span></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-2">Versão</div>
                <div class="col-xs-11 col-md-1"><app-version version='1.0.1'></app-version></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-2">Ação</div>
                <div class="col-xs-11 col-md-1"><span><a href="/logout">logout</a></span></div>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script data-main="javascripts/main" src="bower_components/requirejs/require.js"></script>
    </body>
</html>
